{% extends "base_page.html" %} {% block pagetitle %} Задачи по математической статистике и теории случайных процессов {% endblock %} {% block page-lead %} <p>Особое место среди дисциплин математического цикла, вошедших в структуру образовательных стандартов нового поколения, занимают теория вероятностей, математическая статистика, теория случайных процессов, а также ряд дополнительных дисциплин, изучаемых студентами на старших курсах бакалавриата или в магистратуре. Вероятностные дисциплины тесно связаны с практикой, имеют большое прикладное значение, поскольку изучают математические модели статистических закономерностей природы. Вероятностные и статистические методы широко используются в технических, технологических, экономических науках.</p>

<p>Современное инженерное и научное образование невозможно без глубокого освоения данных разделов. Однако их изучение нередко сопряжено с рядом трудностей: высокой степенью абстракции, объёмом математических выкладок, необходимостью уверенного владения как теоретическим аппаратом, так и практическими методами анализа данных. Для поддержки студентов и всех интересующихся данной областью был разработан данный web-сервис.</p>

<p>Целью сервиса является предоставление удобной, интерактивной платформы для изучения и отработки задач по математической статистике и теории случайных процессов. Пользователи могут не только ознакомиться с теоретическим материалом, но и самостоятельно решать задачи различного уровня сложности с автоматической проверкой, что способствует более глубокому пониманию материала и формированию прочных навыков применения вероятностно-статистических методов на практике.</p>

{% endblock %} {% block content %}

<h3 class="pb-4 mb-4 fst-italic border-bottom">
	Здесь Вы можете пройти соответствующие тесты
</h3>

<div class="row mb-2">
	<div class="col-md-6">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<a href="/matstat-tasks" class="btn btn-primary" style="margin-bottom: 10px;">Начать тест по математической статистике</a>
				<p class="card-text mb-auto">Математическая статистика — раздел математики, изучающий методы анализа данных. Помогает делать выводы по выборкам, оценивать параметры и проверять гипотезы. Применяется в науке, технике, экономике.</p>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<a href="/TSP-tasks" class="btn btn-primary" style="margin-bottom: 10px;">Начать тест по теории случайных процессов</a>
				<p class="card-text mb-auto">Теория случайных процессов изучает поведение случайных величин во времени. Используется для моделирования систем с неопределённостью — в телекоммуникациях, финансах, технике и управлении.</p>
			</div>
		</div>
	</div>
</div>

<h3 class="pb-4 mb-4 fst-italic border-bottom">
	Также Вы можете добавить свои собственные задачи по данным темам
</h3>

<div class="row mb-2">
	<div class="col-md-6">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<a href="/add-tasks" class="btn btn-primary" style="margin-bottom: 10px;">Добавить новую задачу</a>
			</div>
		</div>
	</div>
	{% endblock %}
</div>